@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  body {
    @apply font-montserrat bg-[#e6e6ff] w-screen overflow-x-hidden;
  }
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container,
.ql-toolbar,
.ql-editor {
  border: none !important;
}
